@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
        transparent,
        rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  }

  html,
  body,
  #__next {
    /* font-family: 'Noto Serif TC', serif; */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@layer components {
  .title-style {
    @apply font-bold leading-[1.2] tracking-wider;
  }
  .content-style {
    @apply font-medium leading-normal tracking-[.2em];
  }
  .h1 {
    @apply text-[48px] title-style;
  }
  .h2 {
    @apply text-[40px] title-style;
  }
  .h3 {
    @apply text-[32px] title-style;
  }
  .h4 {
    @apply text-[28px] title-style;
  }
  .h5 {
    @apply text-[24px] title-style;
  }
  .h6 {
    @apply text-[20px] title-style;
  }
  .title {
    @apply text-[16px] title-style;
  }
  .subtitle {
    @apply text-[14px] title-style;
  }
  .body1 {
    @apply text-[16px] content-style;
  }
  .body2{
    @apply text-[14px] content-style;
  }
  .tiny {
    @apply text-[12px] content-style;
  }
}